<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Top Movies By IMDb</title>
</head>
<body class="lead">
<div class="row justify-content-center">
    <div class="col-12 mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="display-4 font-italic blog-header-logo">Top Movies on IMDb</h1>
</nav>
    </div>
    <div class="col-12 mb-3">
        <button type="button" class="btn btn-light btn-lg "><a href="http://localhost:3000/second">Check out some of the top movies on IMDb!</a></button>
    </div>
    <div class="col-12 mb-3">
        <button type="button" class="btn btn-light btn-lg "><a href="http://localhost:3000/movies/add">Add your top movies here!</a></button>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-light btn-lg "><a href="http://localhost:3000/movies">Check out your added movies here!</a></button>
    </div>
</div>
</body>
</html>
