body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body {
  align-items:center;
  background: url("http://s4.thingpic.com/images/i2/akARNrm4WrFjYVXQXoJSFzbE.jpeg") no-repeat fixed center;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  background-color: #011d44;
}
h1 {
  text-align: center;
  margin:20px;
  padding-top: 15px;
  color:black;
}
nav {
  border-radius: 10px;
  text-align-all: center;
  opacity: 0.5;
}
div .form-group label {
font-weight: bold;
  color:dimgray;
}